streamlit==1.20.0
openai
streamlit_chat
langchain
faiss-cpu
tiktoken
pypdf


[theme]
primaryColor="#F63366"
backgroundColor="#FFFFFF"
secondaryBackgroundColor="#F0F2F6"
textColor="#262730"
font="sans serif"
